body {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 1200px;
    margin: auto;
    text-align: center; 
}
.header {
    background: linear-gradient(blue, lightblue, beige);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin:0px ;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
.link{
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right:10px ;
    text-decoration: none;
    background-color: rgb(255, 243, 110);
    color: #000;
    border-radius: 5px;
}
.link:hover{
    background: linear-gradient(beige, lightblue, blue);
    font-weight: 700;
}
.gallery{
    background-color: beige;
    padding-top: 40px;
    padding-bottom: 40px;
}
.gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.gallery-item{
    width: 350px; 
    height: 250px;
}
.button{
    background: #ffcc00;   
    border: 2px solid #333; 
    padding: 12px 25px;    
    margin: 20px ;      
    font-size: 18px;       
    font-weight: bold;     
    color: #333;           
    border-radius: 8px;    
    cursor: pointer;       
}
.button:hover {
    background: #ffdb4d;   
    color: #000;   
    font-weight: 700;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8),    /* Червона тінь */
                0 0 20px rgba(0, 0, 255, 0.5),    /* Синя тінь */
                0 0 30px rgba(0, 255, 0, 0.3);    /* Зелена тінь */
}        


